.read-book-list {
  list-style-type: none;
}

.book-list-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}

.read-book-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 500px;
  overflow: auto;
}

.book-container {
  padding: 5px;
  text-align: center;
}

.book-list-header {
  font-weight: bold;
}